/**
 * Developer: Bulut Üzer
 * Developer URL: http://www.bulutuzer.com
 * Project Name: S-TARZ
*/
* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: "klavikamedium-tf";
  src: url("../iconFonts/klavikamedium-tf.eot");
  src: url("../iconFonts/klavikamedium-tf.eot?#iefix") format("embedded-opentype"), url("../themeFont/klavikamedium-tf") format("woff"), url("../iconFonts/klavikamedium-tf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yahoo";
  src: url("../iconFonts/yahoo.eot");
  src: url("../iconFonts/yahoo.eot?#iefix") format("embedded-opentype"), url("../themeFont/yahoo") format("woff"), url("../iconFonts/yahoo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #414141;
  font-family: "arial";
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}
/* sabit sınıflar */
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.overflowHid {
  overflow: hidden;
}
.clear {
  clear: both;
}
/* dinamik sınıflar */
nav {
  height: auto;
  margin: 0px auto;
}
nav > ul {
  overflow: hidden;
  padding: 10px;
}
nav > ul > li {
  float: left;
  text-align: center;
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
nav > ul > li:last-child {
  margin-right: 0px !important;
}
nav > ul > li:nth-child(7) {
  margin-right: 0px !important;
}
nav.largeIcons {
  width: 585px;
}
nav.largeIcons > ul > li {
  margin-right: 26.5px;
  margin-bottom: 26.5px;
}
nav.largeIcons > ul > li > a {
  width: 58px;
  height: 54px;
}
nav.largeIcons > ul > li > a.face {
  background: #5491cb;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #5491cb), color-stop(49%, #508bc3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #5491cb 52%, #508bc3 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5491cb, endColorstr=#508bc3, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(47, 91, 132, 0.65);
  border-bottom: 4px solid #40709f;
  line-height: 60px;
  font-family: "klavikamedium-tf";
  font-size: 34px;
}
nav.largeIcons > ul > li > a.twit {
  background: #47c9d0;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #47c9d0), color-stop(49%, #27c0c8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #47c9d0 52%, #27c0c8 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47c9d0, endColorstr=#27c0c8, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(23, 140, 146, 0.65);
  border-bottom: 4px solid #0b8389;
  line-height: 62px;
  font-size: 30px;
}
nav.largeIcons > ul > li > a.googleplus {
  background: #e88080;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #e88080), color-stop(49%, #df7373));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #e88080 52%, #df7373 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e88080, endColorstr=#df7373, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(160, 61, 61, 0.55);
  border-bottom: 4px solid #ae4c4c;
  line-height: 62px;
  font-size: 25px;
}
nav.largeIcons > ul > li > a.dribbble {
  background: #d3628f;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #d3628f), color-stop(49%, #cb5e8a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #d3628f 52%, #cb5e8a 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3628f, endColorstr=#cb5e8a, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(161, 45, 92, 0.65);
  border-bottom: 4px solid #9b3e63;
  line-height: 62px;
  font-size: 27px;
}
nav.largeIcons > ul > li > a.linkedin {
  background: #42a2c8;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #42a2c8), color-stop(49%, #3d99be));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #42a2c8 52%, #3d99be 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#42a2c8, endColorstr=#3d99be, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(40, 123, 157, 0.65);
  border-bottom: 4px solid #2c7a9a;
  line-height: 59px;
  font-size: 26px;
}
nav.largeIcons > ul > li > a.android {
  background: #9cce30;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #9cce30), color-stop(49%, #95c62d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #9cce30 52%, #95c62d 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9cce30, endColorstr=#95c62d, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(115, 155, 31, 0.65);
  border-bottom: 4px solid #779e23;
  line-height: 62px;
  font-size: 30px;
}
nav.largeIcons > ul > li > a.tumblr {
  background: #587692;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #587692), color-stop(49%, #506d88));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #587692 52%, #506d88 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#587692, endColorstr=#506d88, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(34, 53, 71, 0.65);
  border-bottom: 4px solid #3d566d;
  line-height: 62px;
  font-size: 30px;
}
nav.largeIcons > ul > li > a.youtube {
  background: #db4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #db4c4c), color-stop(49%, #d34848));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #db4c4c 52%, #d34848 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db4c4c, endColorstr=#d34848, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px #bb3333;
  border-bottom: 4px solid #a53838;
  line-height: 62px;
  font-size: 30px;
}
nav.largeIcons > ul > li > a.instagram {
  background: #c7b69f;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #c7b69f), color-stop(49%, #beac95));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #c7b69f 52%, #beac95 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c7b69f, endColorstr=#beac95, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(174, 148, 99, 0.75);
  border-bottom: 4px solid #827461;
  line-height: 62px;
  font-size: 30px;
}
nav.largeIcons > ul > li > a.skype {
  background: #5bc8e7;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #5bc8e7), color-stop(49%, #55bedc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #5bc8e7 52%, #55bedc 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5bc8e7, endColorstr=#55bedc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(63, 152, 178, 0.65);
  border-bottom: 4px solid #3692ac;
  line-height: 62px;
  font-size: 30px;
}
nav.largeIcons > ul > li > a.pinterest {
  background: #ea4848;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #ea4848), color-stop(49%, #e04444));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #ea4848 52%, #e04444 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ea4848, endColorstr=#e04444, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(176, 43, 43, 0.65);
  border-bottom: 4px solid #bc3636;
  line-height: 62px;
  font-size: 30px;
}
nav.largeIcons > ul > li > a.rss {
  background: #fca012;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #fca012), color-stop(49%, #f19200));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #fca012 52%, #f19200 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fca012, endColorstr=#f19200, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(179, 109, 1, 0.65);
  border-bottom: 4px solid #d07f02;
  line-height: 62px;
  font-size: 23px;
}
nav.largeIcons > ul > li > a.yahoo {
  background: #ad4ead;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #ad4ead), color-stop(49%, #a047a0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #ad4ead 52%, #a047a0 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ad4ead, endColorstr=#a047a0, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(98, 39, 98, 0.65);
  border-bottom: 4px solid #763176;
  line-height: 54px;
  font-family: "yahoo-tf";
  font-size: 34px;
  font-weight: bold;
}
nav.largeIcons > ul > li > a.behance {
  background: #01a4f0;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #01a4f0), color-stop(49%, #019ee7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #01a4f0 52%, #019ee7 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#01a4f0, endColorstr=#019ee7, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(0, 122, 179, 0.65);
  border-bottom: 4px solid #017cb5;
  line-height: 63px;
  font-size: 30px;
}
nav.largeIcons > ul > li > a:hover {
  border-width: 2px;
  top: 2px;
}
nav.mediumIcons {
  width: 502px;
}
nav.mediumIcons > ul > li {
  margin-right: 24.3px;
  margin-bottom: 24.3px;
}
nav.mediumIcons > ul > li > a {
  width: 48px;
  height: 44px;
}
nav.mediumIcons > ul > li > a.face {
  background: #5491cb;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #5491cb), color-stop(49%, #508bc3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #5491cb 52%, #508bc3 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5491cb, endColorstr=#508bc3, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(47, 91, 132, 0.45);
  border-bottom: 4px solid #40709f;
  line-height: 50px;
  font-family: "klavikamedium-tf";
  font-size: 26px;
}
nav.mediumIcons > ul > li > a.twit {
  background: #47c9d0;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #47c9d0), color-stop(49%, #27c0c8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #47c9d0 52%, #27c0c8 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47c9d0, endColorstr=#27c0c8, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(23, 140, 146, 0.45);
  border-bottom: 4px solid #0b8389;
  line-height: 52px;
  font-size: 24px;
}
nav.mediumIcons > ul > li > a.googleplus {
  background: #e88080;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #e88080), color-stop(49%, #df7373));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #e88080 52%, #df7373 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e88080, endColorstr=#df7373, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(160, 61, 61, 0.55);
  border-bottom: 4px solid #ae4c4c;
  line-height: 55px;
  font-size: 22px;
}
nav.mediumIcons > ul > li > a.dribbble {
  background: #d3628f;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #d3628f), color-stop(49%, #cb5e8a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #d3628f 52%, #cb5e8a 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3628f, endColorstr=#cb5e8a, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(161, 45, 92, 0.45);
  border-bottom: 4px solid #9b3e63;
  line-height: 53px;
  font-size: 24px;
}
nav.mediumIcons > ul > li > a.linkedin {
  background: #42a2c8;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #42a2c8), color-stop(49%, #3d99be));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #42a2c8 52%, #3d99be 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#42a2c8, endColorstr=#3d99be, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(40, 123, 157, 0.45);
  border-bottom: 4px solid #2c7a9a;
  line-height: 50px;
  font-size: 21px;
}
nav.mediumIcons > ul > li > a.android {
  background: #9cce30;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #9cce30), color-stop(49%, #95c62d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #9cce30 52%, #95c62d 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9cce30, endColorstr=#95c62d, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(115, 155, 31, 0.45);
  border-bottom: 4px solid #779e23;
  line-height: 53px;
  font-size: 23px;
}
nav.mediumIcons > ul > li > a.tumblr {
  background: #587692;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #587692), color-stop(49%, #506d88));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #587692 52%, #506d88 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#587692, endColorstr=#506d88, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(34, 53, 71, 0.45);
  border-bottom: 4px solid #3d566d;
  line-height: 50px;
  font-size: 24px;
}
nav.mediumIcons > ul > li > a.youtube {
  background: #db4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #db4c4c), color-stop(49%, #d34848));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #db4c4c 52%, #d34848 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db4c4c, endColorstr=#d34848, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px #bb3333;
  border-bottom: 4px solid #a53838;
  line-height: 53px;
  font-size: 24px;
}
nav.mediumIcons > ul > li > a.instagram {
  background: #c7b69f;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #c7b69f), color-stop(49%, #beac95));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #c7b69f 52%, #beac95 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c7b69f, endColorstr=#beac95, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(174, 148, 99, 0.75);
  border-bottom: 4px solid #827461;
  line-height: 52px;
  font-size: 24px;
}
nav.mediumIcons > ul > li > a.skype {
  background: #5bc8e7;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #5bc8e7), color-stop(49%, #55bedc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #5bc8e7 52%, #55bedc 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5bc8e7, endColorstr=#55bedc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(63, 152, 178, 0.45);
  border-bottom: 4px solid #3692ac;
  line-height: 50px;
  font-size: 24px;
}
nav.mediumIcons > ul > li > a.pinterest {
  background: #ea4848;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #ea4848), color-stop(49%, #e04444));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #ea4848 52%, #e04444 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ea4848, endColorstr=#e04444, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(176, 43, 43, 0.45);
  border-bottom: 4px solid #bc3636;
  line-height: 51px;
  font-size: 24px;
}
nav.mediumIcons > ul > li > a.rss {
  background: #fca012;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #fca012), color-stop(49%, #f19200));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #fca012 52%, #f19200 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fca012, endColorstr=#f19200, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(179, 109, 1, 0.45);
  border-bottom: 4px solid #d07f02;
  line-height: 50px;
  font-size: 19px;
}
nav.mediumIcons > ul > li > a.yahoo {
  background: #ad4ead;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #ad4ead), color-stop(49%, #a047a0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #ad4ead 52%, #a047a0 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ad4ead, endColorstr=#a047a0, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(98, 39, 98, 0.45);
  border-bottom: 4px solid #763176;
  line-height: 45px;
  font-family: "yahoo-tf";
  font-size: 29px;
  font-weight: bold;
}
nav.mediumIcons > ul > li > a.behance {
  background: #01a4f0;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #01a4f0), color-stop(49%, #019ee7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #01a4f0 52%, #019ee7 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#01a4f0, endColorstr=#019ee7, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(0, 122, 179, 0.45);
  border-bottom: 4px solid #017cb5;
  line-height: 51px;
  font-size: 23px;
}
nav.mediumIcons > ul > li > a:hover {
  border-width: 2px;
  top: 2px;
}
nav.smallIcons {
  width: 333px;
}
nav.smallIcons > ul > li {
  margin-right: 14.7px;
  margin-bottom: 14.7px;
}
nav.smallIcons > ul > li > a {
  width: 32px;
  height: 29px;
}
nav.smallIcons > ul > li > a.face {
  background: #5491cb;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #5491cb), color-stop(49%, #508bc3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #5491cb 52%, #508bc3 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #5491cb 52%, #508bc3 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5491cb, endColorstr=#508bc3, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(47, 91, 132, 0.45);
  border-bottom: 3px solid #40709f;
  line-height: 34px;
  font-family: "klavikamedium-tf";
  font-size: 19px;
}
nav.smallIcons > ul > li > a.twit {
  background: #47c9d0;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #47c9d0), color-stop(49%, #27c0c8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #47c9d0 52%, #27c0c8 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #47c9d0 52%, #27c0c8 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47c9d0, endColorstr=#27c0c8, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(23, 140, 146, 0.45);
  border-bottom: 3px solid #0b8389;
  line-height: 35px;
  font-size: 17px;
}
nav.smallIcons > ul > li > a.googleplus {
  background: #e88080;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #e88080), color-stop(49%, #df7373));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #e88080 52%, #df7373 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #e88080 52%, #df7373 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e88080, endColorstr=#df7373, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(160, 61, 61, 0.55);
  border-bottom: 3px solid #ae4c4c;
  line-height: 35px;
  font-size: 17px;
}
nav.smallIcons > ul > li > a.dribbble {
  background: #d3628f;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #d3628f), color-stop(49%, #cb5e8a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #d3628f 52%, #cb5e8a 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #d3628f 52%, #cb5e8a 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3628f, endColorstr=#cb5e8a, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(161, 45, 92, 0.45);
  border-bottom: 3px solid #9b3e63;
  line-height: 33px;
  font-size: 14px;
}
nav.smallIcons > ul > li > a.linkedin {
  background: #42a2c8;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #42a2c8), color-stop(49%, #3d99be));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #42a2c8 52%, #3d99be 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #42a2c8 52%, #3d99be 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#42a2c8, endColorstr=#3d99be, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(40, 123, 157, 0.75);
  border-bottom: 3px solid #2c7a9a;
  line-height: 33px;
  font-size: 14px;
}
nav.smallIcons > ul > li > a.android {
  background: #9cce30;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #9cce30), color-stop(49%, #95c62d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #9cce30 52%, #95c62d 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #9cce30 52%, #95c62d 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9cce30, endColorstr=#95c62d, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(115, 155, 31, 0.45);
  border-bottom: 3px solid #779e23;
  line-height: 35px;
  font-size: 16px;
}
nav.smallIcons > ul > li > a.tumblr {
  background: #587692;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #587692), color-stop(49%, #506d88));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #587692 52%, #506d88 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #587692 52%, #506d88 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#587692, endColorstr=#506d88, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(34, 53, 71, 0.45);
  border-bottom: 3px solid #3d566d;
  line-height: 35px;
  font-size: 16px;
}
nav.smallIcons > ul > li > a.youtube {
  background: #db4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #db4c4c), color-stop(49%, #d34848));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #db4c4c 52%, #d34848 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #db4c4c 52%, #d34848 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db4c4c, endColorstr=#d34848, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px #bb3333;
  border-bottom: 3px solid #a53838;
  line-height: 35px;
  font-size: 17px;
}
nav.smallIcons > ul > li > a.instagram {
  background: #c7b69f;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #c7b69f), color-stop(49%, #beac95));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #c7b69f 52%, #beac95 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #c7b69f 52%, #beac95 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c7b69f, endColorstr=#beac95, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(174, 148, 99, 0.75);
  border-bottom: 3px solid #827461;
  line-height: 35px;
  font-size: 17px;
}
nav.smallIcons > ul > li > a.skype {
  background: #5bc8e7;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #5bc8e7), color-stop(49%, #55bedc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #5bc8e7 52%, #55bedc 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #5bc8e7 52%, #55bedc 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5bc8e7, endColorstr=#55bedc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(63, 152, 178, 0.45);
  border-bottom: 3px solid #3692ac;
  line-height: 35px;
  font-size: 17px;
}
nav.smallIcons > ul > li > a.pinterest {
  background: #ea4848;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #ea4848), color-stop(49%, #e04444));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #ea4848 52%, #e04444 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #ea4848 52%, #e04444 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ea4848, endColorstr=#e04444, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(176, 43, 43, 0.45);
  border-bottom: 3px solid #bc3636;
  line-height: 35px;
  font-size: 17px;
}
nav.smallIcons > ul > li > a.rss {
  background: #fca012;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #fca012), color-stop(49%, #f19200));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #fca012 52%, #f19200 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #fca012 52%, #f19200 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fca012, endColorstr=#f19200, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(179, 109, 1, 0.45);
  border-bottom: 3px solid #d07f02;
  line-height: 33px;
  font-size: 14px;
}
nav.smallIcons > ul > li > a.yahoo {
  background: #ad4ead;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #ad4ead), color-stop(49%, #a047a0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #ad4ead 52%, #a047a0 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #ad4ead 52%, #a047a0 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ad4ead, endColorstr=#a047a0, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(98, 39, 98, 0.45);
  border-bottom: 3px solid #763176;
  line-height: 32px;
  font-family: "yahoo-tf";
  font-size: 17px;
  font-weight: bold;
}
nav.smallIcons > ul > li > a.behance {
  background: #01a4f0;
  /* Old browsers */
  background: -moz-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(52%, #01a4f0), color-stop(49%, #019ee7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-49deg, #01a4f0 52%, #019ee7 49%);
  /* IE10+ */
  background: linear-gradient(139deg, #01a4f0 52%, #019ee7 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#01a4f0, endColorstr=#019ee7, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  -o-box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.09) inset;
  text-shadow: 2px 2px 1px rgba(0, 122, 179, 0.45);
  border-bottom: 3px solid #017cb5;
  line-height: 35px;
  font-size: 17px;
}
nav.smallIcons > ul > li > a:hover {
  border-width: 1px;
  top: 2px;
}
/*# sourceMappingURL=iconTheme.css.map */